<% include header %>
<div class="container content">
  <div class="row">
  	<div class="span3 bs-docs-sidebar">
      <% include indexs %>
    </div>
    <div class="span9">
      <section>
        <%-content%>
      </section>
  <% if (locals.disqus && disqus) { %>
      <section>
        <div id="disqus_thread"></div>
        <script>
          var disqus_shortname = '<%=disqus%>';
          (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
        </script>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
      </section>
  <% } %>
    </div>
  </div>
</div>
<% include footer %>