      <footer class="footer">
        <div class="container">
          <p class="pull-right">
            <a href="#">Back to top</a>
          </p>
            <p>此文档通过doxmate生成。主题借鉴Bootstrap API文档风格，注解基于<a href="https://github.com/visionmedia/dox">Dox</a>。欢迎关注doxmate作者<a href="http://weibo.com/shyvo" target="_blank">@朴灵</a></p>
            <ul class="footer-links">
                <li><a href="https://github.com/visionmedia/dox">Dox主页</a></li>
                <li><a href="http://html5ify.com/doxmate">Doxmate主页</a></li>
                <li><a href="https://github.com/JacksonTian/doxmate">Doxmate源码</a></li>
                <li><a href="https://github.com/JacksonTian/doxmate/issues?state=open">提交bug</a></li>
            </ul>
      </div>
    </footer>
    <script>
      $(function() {
        $('pre').addClass('prettyprint');
        $('td pre').removeClass('prettyprint');
        prettyPrint();
        var $window = $(window);
        $('.bs-docs-sidenav').affix({
          offset: {
            top: function () {
              return $window.width() <= 980 ? 290 : 210
            },
            bottom: 270
          }
        });
        $(".content").find('h1, h2, h3, h4, h5, h6').each(function () {
          var node = $(this);
          if (!node.attr("id")) {
            node.attr("id", "index_" + node.text());
          }
          node.css("paddingTop", 40);
        });
      });
    </script>
  <% if (options.global.plugins.googleanlytics) { %>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '<%= options.plugins.googleanlytics %>']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  <% } %>
  </body>
</html>