<section id="api_<%=basename%>" class="api">
  <h2><%=basename%>: API索引</h2>
  <ul class="indexs">
  <%
  var indexs = comments.filter(function (item) {
    return !item.ignore;
  }).forEach(function (comment) {
    comment.ctx.receiver = comment.ctx.receiver || '';
  %>
    <li>
      <a href="#<%= basename  + '_' + comment.ctx.receiver + '_' + __getName(comment)%>">
        <%=__getName(comment)%>
      </a>
    </li>
<% }); %>
  </ul>
  <hr />
<% for (var i = 0, l = comments.length; i < l; i++) {
  var comment = comments[i];
  if (comment.ignore) {
    continue;
  }
%>
  <h3 data-id="<%= basename + '_' + comment.ctx.receiver + '_' + __getName(comment)%>">
    <%=__getName(comment)%>
  </h3>
<% if (comment.code) { %>
  <%-comment.description.full%>
<% } %>
  <p>方法签名</p>
  <table class="table table-striped table-bordered table-hover table-condensed">
  <% if (comment.ctx) { %>
    <tr>
      <td><%=types[comment.ctx.type] %></td>
      <td colspan="3"><%=comment.ctx.string %></td>
    </tr>
  <% } %>
<% for (var j = 0, k = comment.tags.length; j < k; j++) {
    var tag = comment.tags[j];
    switch (tag.type) {
    case 'return':
  %>
    <tr>
      <td><%=types[tag.type]%></td>
      <td><%=tag.types && tag.types.join(',')%></td>
      <td colspan="2"><%-tag.description%></td> </tr>
  <% break;
    case 'param':
    %>
    <tr>
      <td><%=types[tag.type]%></td>
      <td><%=tag.name%>(<%=tag.types && tag.types.join(',')%>)</td>
      <td colspan="2"><%-tag.description%></td>
    </tr>
  <% break;
    case 'api':
  %>
    <tr>
      <td><%=types[tag.type]%></td>
      <td colspan="3"><%=tag.visibility%></td>
    </tr>
  <% break;
    case 'examples':
  %>
    <tr>
      <td><%=types[tag.type]%></td>
      <td colspan="3"><%=tag.string%></td>
    </tr>
  <% break;
    case 'exception':
  %>
    <tr>
      <td><%=types[tag.type]%></td>
      <td colspan="3"><%=tag.string%></td>
    </tr>
  <% break;
    case 'callmethod':
  %>
    <tr>
      <td><%=types[tag.type]%></td>
      <td colspan="3"><%=tag.string%></td>
    </tr>
  <% break;
    case 'name':
  %>
    <tr>
      <td><%=types[tag.type]%></td>
      <td colspan="3"><%=tag.string%></td>
    </tr>
  <% break;
    default:
    %>
    <tr>
      <td><%=types[tag.type] || tag.type%></td>
      <td><%=tag.types && tag.types.join(',')%></td>
      <td><%=tag.name%></td>
      <td><%=tag.description%></td>
    </tr>
  <% } %>
<% } %>
  <% if (comment.code && options.outputSourceFiles){ %>
    <tr>
      <td>代码</td><td colspan="3"><pre><code><%=comment.code%></code></pre></td>
    </tr>
  <% } %>
  </table>
  <% } %>
</section>
