<!DOCTYPE html>
<html> 
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <title> Node Party </title> 
    <meta name="description" content="Node Party in cnodejs.org. Nodejs party offline." />
    <link rel="icon" href="/favicon.ico" /> 
    <link rel="stylesheet" href="/css/base.css" />
<style>
    html,body{margin:0;padding:0;}
    .iw_poi_title {color:#CC5522;font-size:14px;font-weight:bold;overflow:hidden;padding-right:13px;white-space:nowrap}
    .iw_poi_content {font:12px arial,sans-serif;overflow:visible;padding-top:4px;white-space:-moz-pre-wrap;word-wrap:break-word}
    #counter_city {border: #8BC84B solid 2px; padding: 10px; font-size: 20px; color:#8BC84B;};
</style>
<base target="_blank">
<script type="text/javascript" src="http://api.map.baidu.com/api?key=&v=1.1&services=true"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.countdown.js"></script>
<script type="text/javascript">
    function count_days(enddate) {
        var diff = (enddate - new Date()) / 1000;
        var days = Math.floor(diff / 3600 / 24)+1;
        return days;
    }
    $(function(){
        $('#counter').countdown({
          image: 'img/digits.png',
          endtime: <%- locals.endtime %>
        });

        var events = [
            ['#days_hz3', new Date(2012,5,30)],
            ['#days_sh3', new Date(2012,3,14)],
            ['#days_bj', new Date(2011,11,10)],
            ['#days_bj3', new Date(2012,5,9)],
            ['#days_hz', new Date(2011,11,18)],
            ['#days_sh', new Date(2011,11,25)],
            ['#days_sz', new Date(2012,0,7)],
        ];
        for (var i = 0, l = events.length; i < l; i++) {
            var event = events[i];
            var count = count_days(event[1]);
            if (count === 0) {
                $(event[0]).parent().html('已经开始了!');
            } else if (count < 0) {
                $(event[0]).parent().html('结束了!');
            } else {
                $(event[0]).html(count);
            }
        }     
    });
    </script>
<style type="text/css">
      br { clear: both; }
      .cntSeparator {
        font-size: 54px;
        margin: 10px 7px;
        color: #000;
      }
      .desc { margin: 7px 3px; }
      .desc div {
        float: left;
        font-family: Arial;
        width: 70px;
        margin-right: 65px;
        font-weight: bold;
        color: #000;
      }
    </style>
</head>
<body>
<div class="body">
   <div id="header"> 
        <div id="userpanel">
        </div> 
        <h1 id="logo">
            <a href="/" class="logo">Node Party</a> 
            <a style="margin-left: 150px;" href="http://cnodejs.org/"><img src="http://cnodejs.org/images/logo.png" /></a>
        </h1>
        <div id="description"></div> 
    </div> 
    <div id="content">
    <div style="background: #eee; padding: 20px;border-radius: 20px;">
    <h1 style="float: left; color: #000; font-size: 50px; margin: 10px 10px 20px 20px;">杭州站倒计时：</h1>
        <div id="counter"></div>
        <div class="desc">
            <div>日</div>
            <div>小时</div>
            <div>分钟</div>
            <div>秒</div>
        </div>
        
    </div>
    <br />
        <div class="event">
            <h2>杭州站</h2>
            <p>详情：<a href="http://t.cn/zO3QW29">http://t.cn/zO3QW29</a></p>
            <p>
                <span>活动时间：</span>2012-6-30 13:30 - 17:30
                <div id="counter_city">还有<span id="days_hz3"></span>天</div>
            </p>
            <p>报名地址：<br />
                <a href="http://event.weibo.com/463055">http://event.weibo.com/463055</a></p>
            <p>流程安排：</p>
            <ul>
                <li><a href="http://weibo.com/ialeafs" target="_blank">@我是aleafs</a> <a href="http://t.cn/zW4iqvm" target="_blank">Node Cluster模块分享</a> 视频：<a href="http://v.youku.com/v_show/id_XNDIyODkwOTg0.html">1</a> <a href="http://v.youku.com/v_show/id_XNDIyODkzMDky.html">2</a></li>
                <li><a href="http://weibo.com/colorhook" target="_blank">@正邪邪邪</a> <a href="http://nodejs.aliapp.com/ppt/att3.pdf">使用Node实现前端打包工具</a> 视频：<a href="http://v.youku.com/v_show/id_XNDIyOTAyOTA0.html">1</a> <a href="http://v.youku.com/v_show/id_XNDIyODkxODA4.html">2</a></li>
                <li><a href="http://weibo.com/changchang005" target="_blank">@郁闷的武昌鱼</a> <a href="http://t.cn/zWbmKQ5">基于node的游戏服务器框架</a> 视频：<a href="http://v.youku.com/v_show/id_XNDIyOTA5MzM2.html">1</a> <a href="http://v.youku.com/v_show/id_XNDIyODkzNTQw.html">2</a></li>
                <li><a href="http://weibo.com/kakapowu" target="_blank">@kakapowu</a> <a href="http://t.cn/zWGUuUX" target="_blank">移动互联网实时消息推送系统的设计和实现</a> 视频：<a href="http://t.cn/zWGXqL3">1</a> <a href="http://v.youku.com/v_show/id_XNDIyODcyMjg0.html">2</a></li>
                <li><a href="http://weibo.com/literal" target="_blank">@Literal</a> jscoverage工具 视频：<a href="http://v.youku.com/v_show/id_XNDIyODg4Mjg0.html">1</a></li>
            </ul>
            <p>
                <span>活动地址：</span>杭州市西湖区西溪路628号福地创业园5楼福云咖啡
            </p>
            <p>地图：<a href="http://j.map.baidu.com/z8rBf">http://j.map.baidu.com/z8rBf</a></p>
            <p>
                <a href="http://j.map.baidu.com/z8rBf"><img src="http://ww1.sinaimg.cn/large/67fd8527gw1dt76meal8uj.jpg" /></a>
            </p>
        </div>
        <div class="event">
            <h2>北京站</h2>
            <p>详情：<a href="http://cnodejs.org/topic/4fc5c46f4ce4c4101c2c6c0a">http://t.cn/zOgI8QT</a></p>
            <p>
                <span>活动时间：</span>2012-6-9 13:30 - 17:30
                <div id="counter_city">还有<span id="days_bj3"></span>天</div>
            </p>
            <p>流程安排：</p>
            <ul>
                <li><a href="http://yue.st/slides/xueqiu2012a/#1.0" target="_blank">《雪球实战半年谈》</a> <a href="http://weibo.com/yuest" target="_blank">@王宇</a></li>
                <li><a href="http://vdisk.weibo.com/s/6wbyW" target="_blank">《Node.js在新浪微博新版前端打包上线系统中的应用》</a> <a href="http://weibo.com/dongyuwei" target="_blank">董玉伟</a>
                </li>
                <li><a href="http://vdisk.weibo.com/s/70zG6" target="_blank">《使用Node.js进行Web高效开发》</a> <a href="http://weibo.com/pandasam" target="_blank">@VM-SAM</a> 
                <li>会后聚餐（自愿自费）</li>
            <p>
                <span>活动地址：</span>北京朝阳区北苑路13号院1号楼领地OFFICE C座603室<br/> at 图灵出版社
            </p>
            <p>地图：<a href="http://j.map.baidu.com/k5_Of">http://j.map.baidu.com/k5_Of</a></p>
            <p>
                <a href="http://j.map.baidu.com/k5_Of"><img src="http://snap.map.baidu.com/?qt=snap&data={%22src%22:%22snap%22,%22key%22:%22011,-1798568248,-1300054155%22,%22t%22:%22getpic%22}" /></a>
            </p>
        </div>
        <div class="event">
            <h2>上海站</h2>
            <p>详情：<a href="http://t.cn/zO381LY">http://t.cn/zO381LY</a></p>
            <p>
                <span>活动时间：</span>2012-4-14 13:30-17:00
                <div id="counter_city">还有<span id="days_sh3"></span>天</div>
            </p>
            <p>流程安排：</p>
            <ul>
                <li><a href="http://weibo.com/bigbigfool" target="_blank">@小型笨蛋</a> Node与GUI</li>
                <li><a href="http://weibo.com/literal" target="_blank">@Literal</a> 教你玩转NAE</li>
                <li><a href="http://weibo.com/belleveinvis" target="_blank">@belleveinvis</a> Node与游戏开发</li>
                <li><a href="http://weibo.com/zhaoleitomorrow" target="_blank">@虚小逸的小宇宙</a> 高性能中间层之nodefox</li>
                <li><a href="http://weibo.com/bombworm" target="_blank">@朝沐金风</a> Node C/C++扩展教程</li>
            </ul>
            <p>喜欢本期Party就赶紧报名吧：<a href="http://event.weibo.com/362165"><strong>报名入口</strong></a></p>
            <p>
                会议组织请联系: <br/>
                <a href="http://weibo.com/showpower">@青山老妖_黄冠</a>
                <a href="http://weibo.com/shyvo">@朴灵</a>
            </p>
            <p>
                <span>活动地址：</span>上海市福泉路99号携程网络技术大楼
            </p>     
            <p>地图：<a href="http://j.map.baidu.com/PMx6d">http://j.map.baidu.com/PMx6d</a></p>
            <p>
                <a href="http://j.map.baidu.com/5fi6d"><img src="http://ww1.sinaimg.cn/large/67fd8527jw1dqhcq8b42sj.jpg" /></a>
            </p>
        </div>
        <div class="event">
            <h2>深圳站</h2>
            <p>详情：<a href="http://t.cn/z0gdJv1">http://t.cn/z0gdJv1</a></p>
            <p>
                <span>活动时间：</span>2012年1月8号 10:00 - 16:00
                <div id="counter_city">还有<span id="days_sz"></span>天</div>
            </p>
            <p>流程安排：</p>
            <ul>
                <li>主持人致辞 <a href="http://weibo.com/thunderzhang">@zhangwenjie</a></li>
                <li>Nodejs介绍 <a href="http://weibo.com/jiach">@玄了个澄的</a></li>
                <li><a href="http://qw.ucdok.com:81/article/index">QuickWeb</a> 框架介绍 <a href="http://weibo.com/ucdok">@雷宗民</a></li>
                <li>用 NodeJs、WebSocket 打造简易多人聊天室 @梁增海(腾讯)
                </li>
                <li>午餐 at 腾讯大厦</li>
                <li>Jscex：给异步编程多一点选择 <a href="http://weibo.com/jeffz">@老赵</a></li>
                <li><a href="http://www.pengyou.com/">朋友网</a>长连接系统介绍(nodejs版) <br/>
                    @黄友昆(腾讯)
                </li>
                <li><a href="http://fengmk2.github.com/mk2blog/ppt/unittest-and-bdd-in-nodejs-with-mocha.deck.html">Nodejs单元测试</a> <a href="http://weibo.com/81715239">@Python发烧友</a></li>
                <li>NodeJs对hash漏洞修复的解决方案 <a href="http://weibo.com/jiach">@玄了个澄的</a></li>
                <li>抽奖环节</li>
                <li>合影，讨论时间，7分钟快速分享</li>
            </ul>
            <p>
                报名、会议组织请联系: <br/>
                <a href="http://weibo.com/thunderzhang">@zhangwenjie</a> 
                <a href="http://weibo.com/cppgohan">@cppgohan</a>
                <a href="http://weibo.com/jeffz">@老赵</a>
            </p>
            <p>详情：<a href="http://cnodejs.org/blog/?p=4481">http://cnodejs.org/blog/?p=4481</a></p>
            <p>
                <span>活动地址：</span>深圳腾讯大厦
            </p>     
            <p>地图：<a href="http://j.map.baidu.com/8zL4c">http://j.map.baidu.com/8zL4c</a></p>
            <p>
                <a href="http://j.map.baidu.com/8zL4c"><img src="http://ww2.sinaimg.cn/large/6cfc7910jw1dojapwoi7cj.jpg" /></a>
            </p>
        </div>
<!--
        <div class="event">
            <h2>北京站</h2>
            <p>详情：<a href="http://cnodejs.org/blog/?p=4625">http://cnodejs.org/blog/?p=4625</a></p>
            <p>
                <span>活动时间：</span>2011-12-10 13:30 - 17:50
                <div id="counter_city">还有<span id="days_bj"></span>天</div>
            </p>
            <p>流程安排：</p>
            <ul>
                <li><a href="http://upload.cnodejs.net/e/8/e8cfbccd7e941175447b4a4514bafbcb.pdf">《SuperSonic项目后端开发》</a> 
                    陈卓</li>
                <li><a href="http://upload.cnodejs.net/7/3/73c3e3444a61a5a8ed6b59942917cf8f.pdf">《我勒个去！NodeJS》</a>
                    <a href="http://weibo.com/fengdanbailu">@枫丹和白露</a>
                </li>
                <li><a href="http://mengxy.net/slides/nodejs-at-xueqiu/">《雪球上的nodeJS》孟详宇</a> 
                    <a href="http://weibo.com/mengxy">@蒙懵猛孟</a></li>
                <li><a href="http://upload.cnodejs.net/3/a/3a5a56cd441e6432f730873f192ce8ad.pdf">《NodeCombo：基于NodeJS的本地CDN服务的搭建》</a>
                    杨振楠<a href="http://weibo.com/zhenn">@zhenn</a></li>
                <li><a href="http://upload.cnodejs.net/7/6/769be50fc70acb593d2af22c99d7854a.pdf">《NodeJS@移动互联网》</a>
                    崔明达@大蒜</li>
                <li><a href="http://upload.cnodejs.net/f/2/f262afe47685bba8d30ec2ed3a82f2f5.pdf">《NAE: Node App Engine》</a>
                    <a href="http://weibo.com/q3boy">@q3boy</a></li>
                <li>会后聚餐（自愿自费）</li>
            <p>
                <span>活动地址：</span>北京市朝阳区朝外大街甲6号万通中心D座23层（二环三环之间）<br/> at 易宝支付(yeepay.com)
            </p>
            <p>地图：<a href="http://t.cn/S47QfD">http://t.cn/S47QfD</a></p>
            <p>
                <a href="http://t.cn/S47QfD"><img src="http://api.map.baidu.com/staticimage?center=%E6%98%93%E5%AE%9D%E6%94%AF%E4%BB%98&markers=%E6%98%93%E5%AE%9D%E6%94%AF%E4%BB%98&zoom=16&width=250&height=250" /></a>
            </p>
        </div>
-->
        <!--
        <div class="event">
            <h2>杭州站</h2>
            <p>详情：<a href="http://cnodejs.org/blog/?p=4305">http://cnodejs.org/blog/?p=4305</a></p>
            <p>
                <span>活动时间：</span>2011-12-18 13:30 - 17:30
                <div id="counter_city">还有<span id="days_hz"></span>天</div>
            </p>
            <p>流程安排：</p>
            <ul>
                <li><a href="http://upload.cnodejs.net/d/b/dbd3997c302272acf65dfc813e2a5f32.pdf">《Nodejs性能分析优化和分布式设计》</a>
                    <br/> 占超群<a href="http://weibo.com/flyinweb">@flyinweb</a></li>
                <li><a href="http://vdisk.weibo.com/s/1zaAi/1324262817">《使用Node构建静态资源管理系统(RMS)》</a>
                    <br/> 许阳寅<a href="http://weibo.com/yyfrankyy">@yyfrankyy</a></li>
                <li><a href="http://vdisk.weibo.com/s/1zaAo/1324262855">《ITier开发优化实践》</a>
                    <br/> 张严明<a href="http://weibo.com/windyrobin">@孤独的登山人</a></li>
                <li><a href="http://vdisk.weibo.com/s/1yYbE">《从REST到Now.js》</a>
                    <br/><a href="http://weibo.com/showpower">@青山老妖_黄冠</a></li>
                <li>会后聚餐（自愿自费）</li>
            <p>
                <span>活动地址：</span>杭州市西湖区塘苗路18号华星现代产业园 淘宝网 7-4凤凰山庄
            </p>
            <p>地图：<a href="http://j.map.baidu.com/u00wc">http://j.map.baidu.com/u00wc</a></p>
            <div style="width:250px;height:250px;border:#ccc solid 1px;" id="dituContent"></div>
        </div>
        -->
        <!--<div class="event">
            <h2>上海站 Christmas</h2>
            <p>报名：<a href="http://event.weibo.com/275553">http://event.weibo.com/275553</a></p>
            <p>
                <span>活动时间：</span>2011-12-25 13:30 - 17:30
                <div id="counter_city">还有<span id="days_sh"></span>天</div>
            </p>
            <p>流程安排：</p>
            <ul>
                <li><a href="http://upload.cnodejs.net/d/b/dbd3997c302272acf65dfc813e2a5f32.pdf">《Nodejs性能分析优化和分布式设计》</a>
                    <br/> 占超群<a href="http://weibo.com/flyinweb">@flyinweb</a></li>
                <li>《三体：来自新世界的召唤》 苑明理</li>
                <li>茶歇 + 抽奖</li>
                <li>第九城市游戏开发平台介绍</li>
                <li><a href="http://vdisk.weibo.com/s/1zaAo/1324262855">《ITier开发优化实践》</a>
                    <br/> 张严明<a href="http://weibo.com/windyrobin">@孤独的登山人</a></li>
                <li><a href="http://vdisk.weibo.com/s/1yYbE">《从REST到Now.js》</a>
                    <br/><a href="http://weibo.com/showpower">@青山老妖_黄冠</a></li>
                <li>抽奖</li>
                <li>会后聚餐（自愿自费）</li>
            </ul>
            <p>
                <span>活动地址：</span>第九城市(张江高科技园区碧波路690号3号楼)，地铁2号线张江高科站
            </p>
            <p>地图：<a href="http://map.baidu.com/?poiShareUid=68f402659857db00ca1b95c4&cityCode=289&tn=B_NORMAL_MAP">查看地图</a></p>
            <p>
            <a href="http://map.baidu.com/?poiShareUid=68f402659857db00ca1b95c4&cityCode=289&tn=B_NORMAL_MAP"><img src="http://api.map.baidu.com/staticimage?center=%E4%B8%8A%E6%B5%B7%E5%B8%82%E6%B5%A6%E4%B8%9C%E6%96%B0%E5%8C%BA%E7%A2%A7%E6%B3%A2%E8%B7%AF690%E5%8F%B7&markers=%E4%B8%8A%E6%B5%B7%E5%B8%82%E6%B5%A6%E4%B8%9C%E6%96%B0%E5%8C%BA%E7%A2%A7%E6%B3%A2%E8%B7%AF690%E5%8F%B7&zoom=16&width=250&height=250" />
            </a>
            </p>
        </div>-->
        
    </div> 
    <hr style="clear:both;"/>
    <div>
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'nodeparty'; // required: replace example with your forum shortname
        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
    </div>
    <div id="footer"> 
        <a href="http://cnodejs.org">CNode</a>
        <div style="margin-top: 1em;"> 
          &copy;&nbsp;2011 CNode.
          Help and Contact :
          [Weibo]<a href="http://t.sina.com.cn/imk2" target="_blank">@Python发烧友</a> &bull;
          [Twitter]<a href="http://twitter.com/fengmk2" target="_blank">@fengmk2</a>.
        </div> 
    </div>
</div>
</body> 
<script type="text/javascript">
    //创建和初始化地图函数：
    function initMap(){
        createMap();//创建地图
        setMapEvent();//设置地图事件
        addMapControl();//向地图添加控件
        addMarker();//向地图中添加marker
    }
    
    //创建地图函数：
    function createMap(){
        var map = new BMap.Map("dituContent");//在百度地图容器中创建一个地图
        var point = new BMap.Point(120.128179,30.280897);//定义一个中心点坐标
        map.centerAndZoom(point,17);//设定地图的中心点和坐标并将地图显示在地图容器中
        window.map = map;//将map变量存储在全局
    }
    
    //地图事件设置函数：
    function setMapEvent(){
        map.enableDragging();//启用地图拖拽事件，默认启用(可不写)
        map.enableScrollWheelZoom();//启用地图滚轮放大缩小
        map.enableDoubleClickZoom();//启用鼠标双击放大，默认启用(可不写)
        map.enableKeyboard();//启用键盘上下左右键移动地图
    }
    
    //地图控件添加函数：
    function addMapControl(){
        //向地图中添加缩放控件
    var ctrl_nav = new BMap.NavigationControl({anchor:BMAP_ANCHOR_TOP_LEFT,type:BMAP_NAVIGATION_CONTROL_SMALL});
    map.addControl(ctrl_nav);
        //向地图中添加缩略图控件
    var ctrl_ove = new BMap.OverviewMapControl({anchor:BMAP_ANCHOR_BOTTOM_RIGHT,isOpen:0});
    map.addControl(ctrl_ove);
        //向地图中添加比例尺控件
    var ctrl_sca = new BMap.ScaleControl({anchor:BMAP_ANCHOR_BOTTOM_LEFT});
    map.addControl(ctrl_sca);
    }
    
    //标注点数组
    var markerArr = [{title:"华星现代产业园",content:"杭州市西湖区塘苗路18号华星现代产业园&nbsp;淘宝网&nbsp;7-4凤凰山庄",point:"120.128036|30.280835",isOpen:0,icon:{w:21,h:21,l:0,t:0,x:6,lb:5}}
    ];
    //创建marker
    function addMarker(){
        for(var i=0;i<markerArr.length;i++){
            var json = markerArr[i];
            var p0 = json.point.split("|")[0];
            var p1 = json.point.split("|")[1];
            var point = new BMap.Point(p0,p1);
            var iconImg = createIcon(json.icon);
            var marker = new BMap.Marker(point,{icon:iconImg});
            var iw = createInfoWindow(i);
            var label = new BMap.Label(json.title,{"offset":new BMap.Size(json.icon.lb-json.icon.x+10,-20)});
            marker.setLabel(label);
            map.addOverlay(marker);
            label.setStyle({
                        borderColor:"#808080",
                        color:"#333",
                        cursor:"pointer"
            });
            
            (function(){
                var index = i;
                var _iw = createInfoWindow(i);
                var _marker = marker;
                _marker.addEventListener("click",function(){
                    this.openInfoWindow(_iw);
                });
                _iw.addEventListener("open",function(){
                    _marker.getLabel().hide();
                })
                _iw.addEventListener("close",function(){
                    _marker.getLabel().show();
                })
                label.addEventListener("click",function(){
                    _marker.openInfoWindow(_iw);
                })
                if(!!json.isOpen){
                    label.hide();
                    _marker.openInfoWindow(_iw);
                }
            })()
        }
    }
    //创建InfoWindow
    function createInfoWindow(i){
        var json = markerArr[i];
        var iw = new BMap.InfoWindow("<b class='iw_poi_title' title='" + json.title + "'>" + json.title + "</b><div class='iw_poi_content'>"+json.content+"</div>");
        return iw;
    }
    //创建一个Icon
    function createIcon(json){
        var icon = new BMap.Icon("http://openapi.baidu.com/map/images/us_mk_icon.png", new BMap.Size(json.w,json.h),{imageOffset: new BMap.Size(-json.l,-json.t),infoWindowOffset:new BMap.Size(json.lb+5,1),offset:new BMap.Size(json.x,json.h)})
        return icon;
    }
    
    initMap();//创建和初始化地图
</script>
</html> 
