<% include header %>
<div id="pagebody">
  <div class="wrapper">
    <div class="col-3" id="sidebar">
      <% include indexs %>
    </div>
    <div class="col-9">
      <%-content%>
    <% if (locals.disqus && disqus) { %>
      <div>
        <div id="disqus_thread"></div>
        <script>
          var disqus_shortname = '<%=disqus%>';
          (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
        </script>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
      </div>
  <% } %>
    </div>
  </div>
</div>
<br class="clear">
<% include footer%>
