<div id="footer">
	<div class="wrapper">
    <p>
      此文档通过doxmate生成。主题借鉴Wordpress首页风格，注解基于<a href="https://github.com/visionmedia/dox">Dox</a>。欢迎关注doxmate作者<a href="http://weibo.com/shyvo" target="_blank">@朴灵</a>
    </p>
    <p>
      | <a href="https://github.com/visionmedia/dox">Dox主页</a>
      | <a href="http://html5ify.com/doxmate">Doxmate主页</a>
      | <a href="https://github.com/JacksonTian/doxmate/issues?state=open">提交bug</a>
    </p>
		<h6>doxmate is awesome</h6>
	</div>
</div>
<% if (options.plugins.googleanlytics) { %>
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '<%= options.plugins.googleanlytics %>']);
    _gaq.push(['_trackPageview']);
    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>
<% } %>

  <script>
  	var splited = location.pathname.split('/');
  	var filename = splited[splited.length - 1].split('.')[0];
  	$("#header li a").each(function () {
  		if ($(this).text() === filename) {
  			$(this).addClass('current');
  		}
  	});
    $(".col-9").find('h1, h2, h3, h4, h5, h6').each(function () {
      var node = $(this);
      if (!node.attr("id")) {
        node.attr("id", "index_" + node.text());
      }
    });
  </script>
</body>
</html>