<% -header %>

<div id="pagebody">
        <div class="wrapper">
                <div class="col-2" id="sidebar">
                                                <ul class="submenu">
  <li><a href="/extend/">Extend Home</a></li>
  <li><a id="subcurrent">Plugins</a>
	<ul style="padding: 0; margin: 6px 0;">
		<li class="view"><a href="/extend/plugins/about/">Developer Center</a></li>
	</ul>
  </li>
  <li><a href="/extend/themes/">Themes</a></li>
  <li><a href="/extend/mobile/">Mobile</a></li>
  <li><a href="/extend/ideas/">Ideas</a></li>
  <li><a href="/extend/kvetch/">Kvetch!</a></li>
</ul>

<h4 class="plugin-tags">Popular Tags<a class="more" href="http://wordpress.org/extend/plugins/tags/">More »</a></h4>
<ul class="submenu">
	<li><a href="http://wordpress.org/extend/plugins/tags/widget">widget (3406)</a></li>
	<li><a href="http://wordpress.org/extend/plugins/tags/post">Post (2207)</a></li>
	<li><a href="http://wordpress.org/extend/plugins/tags/plugin">plugin (2091)</a></li>
	<li><a href="http://wordpress.org/extend/plugins/tags/admin">admin (1732)</a></li>
	<li><a href="http://wordpress.org/extend/plugins/tags/posts">posts (1645)</a></li>
	<li><a href="http://wordpress.org/extend/plugins/tags/sidebar">sidebar (1450)</a></li>
	<li><a href="http://wordpress.org/extend/plugins/tags/twitter">twitter (1165)</a></li>
	<li><a href="http://wordpress.org/extend/plugins/tags/google">google (1160)</a></li>
	<li><a href="http://wordpress.org/extend/plugins/tags/comments">comments (1153)</a></li>
	<li><a href="http://wordpress.org/extend/plugins/tags/images">images (1119)</a></li>
	<li><a href="http://wordpress.org/extend/plugins/tags/page">page (1066)</a></li>
	<li><a href="http://wordpress.org/extend/plugins/tags/image">image (982)</a></li>
	<li><a href="http://wordpress.org/extend/plugins/tags/links">links (892)</a></li>
</ul>

                </div>



		<div class="col-7">

			<p class="intro">Plugins can extend WordPress to do almost anything you can imagine. In the directory you can find, download, rate, and comment on all the best plugins the WordPress community has&nbsp;to&nbsp;offer.</p>
	
			<h3 id="count"><strong>22,025</strong> plugins,
	<strong>365,709,102</strong> downloads, and counting</h3>
	
	<form action="http://wordpress.org/extend/plugins/search.php" method="get" id="plugins-search">
<p>
	<input type="text" class="text" maxlength="100" name="q" value="">
	<input type="submit" value="Search Plugins" class="button">
</p>
<p>
</p>
</form>
	
			<h3 class="head">Featured Plugins</h3>
		<div class="block-content">
		<h4><a href="http://wordpress.org/extend/plugins/jetpack/">Jetpack by WordPress.com</a></h4>
		<span class="download button"><a itemprop="downloadUrl" href="http://downloads.wordpress.org/plugin/jetpack.1.9.2.zip">Download</a></span>
		Supercharge your WordPress site with powerful features previously only available to WordPress.com users.	</div>
		<div class="block-content">
		<h4><a href="http://wordpress.org/extend/plugins/wp-super-cache/">WP Super Cache</a></h4>
		<span class="download button"><a itemprop="downloadUrl" href="http://downloads.wordpress.org/plugin/wp-super-cache.1.2.zip">Download</a></span>
		A very fast caching engine for WordPress that produces static html files.	</div>
		<div class="block-content">
		<h4><a href="http://wordpress.org/extend/plugins/hotfix/">Hotfix</a></h4>
		<span class="download button"><a itemprop="downloadUrl" href="http://downloads.wordpress.org/plugin/hotfix.0.9.zip">Download</a></span>
		Provides unofficial fixes for selected WordPress bugs, so you don't have to wait for the next WordPress core release.	</div>
		<div class="block-content">
		<h4><a href="http://wordpress.org/extend/plugins/theme-check/">Theme-Check</a></h4>
		<span class="download button"><a itemprop="downloadUrl" href="http://downloads.wordpress.org/plugin/theme-check.20120823.zip">Download</a></span>
		A simple and easy way to test your theme for all the latest WordPress standards and practices. A great theme development tool!	</div>
		<div class="block-content">
		<h4><a href="http://wordpress.org/extend/plugins/buddypress/">BuddyPress</a></h4>
		<span class="download button"><a itemprop="downloadUrl" href="http://downloads.wordpress.org/plugin/buddypress.1.6.1.zip">Download</a></span>
		Social networking in a box. Build a social network for your company, school, sports team or niche community.	</div>
		<div class="block-content">
		<h4><a href="http://wordpress.org/extend/plugins/bbpress/">bbPress</a></h4>
		<span class="download button"><a itemprop="downloadUrl" href="http://downloads.wordpress.org/plugin/bbpress.2.1.2.zip">Download</a></span>
		bbPress is forum software, made the WordPress way	</div>
		</div>
</div>

<div class="col-3">
	
	<h3 class="head"><a href="http://wordpress.org/extend/plugins/browse/popular/">Most Popular <span>»</span></a></h3>
	<ul class="column-list">
		<li>
		<a href="http://wordpress.org/extend/plugins/jetpack/" title="Jetpack by WordPress.com">Jetpack by WordPress.com</a><br>
		<span class="info-marker">Downloaded</span> 2,945,909 times
	</li>
		<li>
		<a href="http://wordpress.org/extend/plugins/contact-form-7/" title="Contact Form 7">Contact Form 7</a><br>
		<span class="info-marker">Downloaded</span> 8,628,859 times
	</li>
		<li>
		<a href="http://wordpress.org/extend/plugins/all-in-one-seo-pack/" title="All in One SEO Pack">All in One SEO Pack</a><br>
		<span class="info-marker">Downloaded</span> 12,709,696 times
	</li>
		<li>
		<a href="http://wordpress.org/extend/plugins/wordpress-seo/" title="WordPress SEO by Yoast">WordPress SEO by Yoast</a><br>
		<span class="info-marker">Downloaded</span> 2,607,815 times
	</li>
		<li>
		<a href="http://wordpress.org/extend/plugins/google-sitemap-generator/" title="Google XML Sitemaps">Google XML Sitemaps</a><br>
		<span class="info-marker">Downloaded</span> 8,853,636 times
	</li>
		<li>
		<a href="http://wordpress.org/extend/plugins/akismet/" title="Akismet">Akismet</a><br>
		<span class="info-marker">Downloaded</span> 12,061,916 times
	</li>
		</ul>
	
		<h3 class="head"><a href="http://wordpress.org/extend/plugins/browse/new/">Newest Plugins <span>»</span></a></h3>
	<ul class="column-list">
		<li>
		<a href="http://wordpress.org/extend/plugins/easy-lightbox/" title="Lightbox">Lightbox</a><br>
		<span class="info-marker">Added</span> October 31	</li>
		<li>
		<a href="http://wordpress.org/extend/plugins/dineapp/" title="DineApp">DineApp</a><br>
		<span class="info-marker">Added</span> October 31	</li>
		<li>
		<a href="http://wordpress.org/extend/plugins/call-to-action-reminders-by-astrid/" title="Call-To-Action Reminders by Astrid">Call-To-Action Reminders by Astrid</a><br>
		<span class="info-marker">Added</span> October 30	</li>
		<li>
		<a href="http://wordpress.org/extend/plugins/simple-newsletter-signup/" title="Simple Newsletter Signup">Simple Newsletter Signup</a><br>
		<span class="info-marker">Added</span> October 30	</li>
		<li>
		<a href="http://wordpress.org/extend/plugins/ip-address-blocker/" title="LionScripts: IP Address Blocker">LionScripts: IP Address Blocker</a><br>
		<span class="info-marker">Added</span> October 30	</li>
		<li>
		<a href="http://wordpress.org/extend/plugins/convertor-valutar/" title="Convertor valutar">Convertor valutar</a><br>
		<span class="info-marker">Added</span> October 30	</li>
		</ul>
	</div>
</div>



		
	


<br class="clear">




<div id="footer">
	<div class="wrapper">
		<p> 
			<a href="http://wordpress.org/about/privacy/">Privacy</a> | 
			<a href="http://wordpress.org/about/license/">License / GPLv2</a>
            &nbsp; &nbsp; See also: 
            <a href="http://wordpress.com/?ref=wporg-footer" title="Hassle-free WP hosting">Hosted WordPress.com</a> |
			<a href="http://wordpress.tv/" title="Videos, tutorials, WordCamps">WordPress.TV Videos</a> |
			<a href="http://central.wordcamp.org/" title="Find a WordPress event near your home">WordCamp Events</a> |
			<a href="http://buddypress.org/" title="A set of plugins to transform your WordPress into a social network">BuddyPress Social Layer</a> |
			<a href="http://bbpress.org/" title="Fast, slick forums built on WordPress">bbPress Forums</a> |
			<a href="http://jobs.wordpress.net/" title="Find or post WordPress jobs">WP Jobs</a> | 
            <a href="http://ma.tt/" title="Co-founder of WordPress, an example of what WordPress can do">Matt</a>
		</p>
<br>
<iframe src="http://www.facebook.com/plugins/like.php?app_id=121415197926116&amp;href=http%3A%2F%2Fwww.facebook.com%2Fwordpress&amp;send=false&amp;layout=button_count&amp;width=150&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=lucida+grande&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:150px; height:21px;" allowtransparency="true"></iframe>
<!-- <div class="g-plusone" data-size="medium" data-href="https://plus.google.com/107188080561309681193"></div> -->
<iframe allowtransparency="true" frameborder="0" scrolling="no" src="http://platform.twitter.com/widgets/follow_button.html?screen_name=WordPress&amp;show_count=false" style="width:150px; height:20px;"></iframe>

		<h6>Code is Poetry</h6>
	</div>
</div>


<script type="text/javascript">_qoptions={qacct:"p-18-mFEk4J448M"};</script>
<script type="text/javascript" src="http://edge.quantserve.com/quant.js"></script>
<noscript>&lt;img src="http://pixel.quantserve.com/pixel/p-18-mFEk4J448M.gif" style="display: none;" border="0" height="1" width="1" alt=""/&gt;</noscript>
<!-- 19 queries, 0.307 seconds -->
<script type="text/javascript" src="http://s.gravatar.com/js/gprofiles.js"></script>
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
<script type="text/javascript">
(function($){
$(document).ready(function() {
	$('#footer a').click(function() {
		if (this.href.indexOf('wordpress.org') == -1 && this.href.indexOf('http') == 0) {
			recordOutboundLink(this, 'Outbound Links', this.href);
			return false;
		}
	});
});
})(jQuery);
</script>


</body></html>