<section class="api">
  <ul class="">
  <% console.log(comments); %>
  <% 
  var indexs = comments.map(function (item) {
    return item.ctx;
  }).forEach(function (item) {
  %>
    <li>
      <a href="#<%= item.receiver + '_' + item.name%>"><%= item.name%></a>
    </li>
<% }); %>
  </ul>
  <% for (var i = 0, l = comments.length; i < l; i++) {
    var comment = comments[i];
  %>
  <% if (comment.ctx) { %>
  <h3>
    <a name="<%= comment.ctx.receiver + '_' + comment.ctx.name%>">
      <%=comment.ctx.name%>
    </a>
  </h3>
  <% } %>
  <table class="table">
  <% if (comment.ctx) { %>
    <tr>
      <td><%=comment.ctx.type%></td>
      <td><%=comment.ctx.string%></td> 
      <td><%=comment.ctx.receiver%></td>
      <td><a name="<%= comment.ctx.receiver + '_' + comment.ctx.name%>"></a><%=comment.ctx.name%></td>
    </tr>
  <% } %>
    <tr>
      <td>描述</td><td colspan="3"><%-comment.description.full%></td>
    </tr>
<% for (var j = 0, k = comment.tags.length; j < k; j++) { 
    var tag = comment.tags[j];
    switch (tag.type) {
    case 'return':
  %>
    <tr>
      <td><%=types[tag.type]%></td>
      <td><%=tag.types && tag.types.join(',')%></td>
      <td colspan="2"><%=tag.description%></td>
    </tr>
  <% break;
    default:%>
    <tr>
      <td><%=types[tag.type]%></td>
      <td><%=tag.types && tag.types.join(',')%></td>
      <td><%=tag.name%></td>
      <td><%=tag.description%></td>
    </tr>
  <% } %>
<% } %>
    <tr>
      <td>代码</td><td colspan="3"><pre><code><%=comment.code%></code></pre></td>
    </tr>
  </table>
  <% } %>
</section>