    <!-- 尾部 -->
    <div class="g-ft">
      <!-- 尾部模块 -->
      <div class="m-ft">
          <%-options.footer%>
      </div>
    </div>
    <!-- 向上图标 -->
    <div class='m-arrow f-dn'><a href="#"></a></div>
    <% if (options.plugins.googleanlytics) { %>
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '<%= options.plugins.googleanlytics %>']);
        _gaq.push(['_trackPageview']);
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
    <% } %>
  </body>
</html>
