<!-- API导航 -->
<div class='side'>
  <div class='m-nav'>
    <ul>
    <% for (var key in apis) { %>
        <li>
          <h3><a href="#api_<%=key%>" class="cap"><%=key%></a></h3>

          <ul class="indexs">
          <%
            var comments = apis[key].comments;
            var indexs = comments.filter(function (item) {
              return !item.ignore && item.ctx;
            }).map(function (item) {
              return item.ctx;
            }).forEach(function (item) {
              item.receiver = item.receiver || '';
            %>
            <li>
              <a href="#<%= key + '_' + item.receiver + '_' + item.name%>"><%= item.name%></a>
            </li>
          <% }); %>
          </ul>

        </li>
    <% } %>
    </ul>
  </div>
</div>
