<!-- API导航 -->
<div class='side'>
  <div class='m-nav'>
    <ul>
    <% for (var key in apis) { %>
        <li>
          <h3><a href="#api_<%=key%>" class="cap"><%=key%></a></h3>
        </li>
    <% } %>
    </ul>
  </div>
</div>
